@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

.game-title {
  font-family: 'Press Start 2P', monospace;
  color: yellow;
  font-size: 50px;
  text-align: center;
  margin: 60px 0px 60px 0px;
  
}

.choices-container {
  display: flex;
  justify-content: space-evenly;
}

.choice-card {
  width: 201px;
  height: 250px;
  margin: 10px 20px 10px 20px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(243, 239, 239, 0.9);
  overflow: hidden;
  cursor: pointer;
}

.choice-card:hover {
  transform: scale(1.10);
  box-shadow: 0 0 30px rgba(255, 255, 100, 0.9);
}

.choice-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice-button {
  background-color: #007BFF;
  color: white;
  font-size: 20px;
  border-width: 4px;
  border-radius: 5px;
  border-color: white;
  padding: 5px 25px;
}

.game-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.summary-title {
  font-family: 'Press Start 2P', monospace;
  font-size: 25px;
  color: crimson;
  margin: 40px 0px 10px 0px;

}

.js-result,
.js-moves,
.js-score {
  margin: 10px;
}

.controls-section {
  display: flex;
  justify-content: center;
}

.reset-score-button {
  background-color: #007BFF;
  color: white;
  font-size: 20px;
  border-width: 4px;
  border-radius: 5px;
  border-color: white;
  padding: 5px 25px;
  margin-top: 20px;
}